<%= render "shared/heading", title: "My Favorites" %>
<hr>
<div class="fav_wrapper">
<% @favorites.each do |fav| %>
	<div class= "list_item">
		<div class="list_header">
				<%= "#{fav.created_at.strftime("%r %B %d, %Y")}" %>
		</div>
		<div class= "list_text">
			<%= link_to fav.property.street_address, fav.property %>
		</div>
	</div>
	<hr>
<% end %>
</div>

<%= link_to 'Back to Dashboard', @current_user, class: "button_back"%>
