.form {
  width: 100%;
  /* border: 1px solid rgba(34, 36, 38, 0.15); */
  background-color: #fff;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* padding: 1em; */
}

.form-header {
  background-color: #000;
  padding: 1em;
}
/*
.form-field {
  margin: 1.5em 1em;
} */

.form label {
  display: block;
  font-size: 0.8em;
  margin-top: 1.25em;
  margin-bottom: 0em;
  /* font-weight: 700; */
  /* margin: 1em 0.5em 0.25em; */
}

/* .form input,
.form select,
.form textarea {
  width: 100%;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.5em 1em;
}

.form select {
  outline: 0;
  background: #fff;
  border-radius: 0;
	line-height:normal;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
}

.form input[type=checkbox],
.form input[type=submit] {
  width: auto;
}

.form label.checkbox {
  display: initial;
}

.form .button {
  margin-top: 2em;
} */
