.report_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	 justify-content:
	/* width: 75%; */
}

.report_list_wrapper {

}


.report_wrapper_buttons {
/* flex-shrink: 1; */
order: 2;
}
.report_img {
  width: auto;
  height: auto;
flex-shrink: 1;
flex-basis: auto;
order: 1; 
	/* position: relative; */
	/* width: 75%; */
	/* height: 75%;
	min-width: 25%;
	min-height: 25%; */
	/* margin-left:1; margin-right:0; margin-top:0; margin-bottom:0; */
	/* padding-left:1; padding-right:0; padding-top:0; padding-bottom:0.5rem; */
}

.report_info {
min-width: 50%;
flex-shrink: 1;
order: 1;
}

.report_info h1 {
	font-size:3rem;
	margin-left:0.5rem; margin-right:0; margin-top:0; margin-bottom:0;
	padding-left:0.5rem; padding-right:0; padding-top:0; padding-bottom:0rem;
}

.report_info h2 {
	font-size:1.5rem;
	margin-left:0.5rem; margin-right:0; margin-top:0; margin-bottom:0;
	padding-left:0.5rem; padding-right:0; padding-top:0; padding-bottom:1rem;
}

.report_wrapper h3 {
	font-size: 0.75rem;
	margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
	padding-left:0; padding-right:0; padding-top:0; padding-bottom:0.5rem;
}

.report_wrapper p {
	margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
	padding-left:1rem; padding-right:0; padding-top:0; padding-bottom:0;
}


.report_wrapper .button_create {
	border: none;
  	background-image: radial-gradient(rgb(250, 250, 250, 1),  rgb(225, 225, 225, 1) );
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 5px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);

}

.report_wrapper .button_create:hover, .report_wrapper .button_create:active {
	border: none;
	color: #fff;
	background: radial-gradient(rgba(0, 173, 5, 1), rgba(0, 122, 4, 1));
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 25px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	transition-property: cursor, color, background, box-shadow, border-radius;
	transition-duration: .25s, .25s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-timing-function:ease-in-out;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);

}


.report_wrapper .button_delete {
	border: none;
  	background-image: radial-gradient(rgb(250, 250, 250, 1),  rgb(225, 225, 225, 1) );
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 5px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.report_wrapper .button_delete:hover, .report_wrapper .button_delete:active {
	border: none;
	color: #000;
	background: radial-gradient(rgba(255, 242, 0, 1), rgba(230, 218, 0, 1));
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 25px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	transition-property: color, background, border-radius;
	transition-duration: .25s, .25s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-timing-function:ease-in-out;

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.report_wrapper .button_cancel {
	border: none;
  	background-image: radial-gradient(rgb(250, 250, 250, 1),  rgb(225, 225, 225, 1) );
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 5px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.report_wrapper .button_cancel:hover, .report_wrapper .button_cancel:active {
	border: none;
	color: #fff;
	background: radial-gradient(rgba(191, 20, 0, 1), rgba(117, 12, 0, 1));
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 25px;
	margin-left:0.25rem; margin-right:0.25rem; margin-top:0.25rem; margin-bottom:0.25rem;
	padding-left:0.25rem; padding-right:0.25rem; padding-top:0.25rem; padding-bottom:0.25rem;

	transition-property: color, background, border-radius;
	transition-duration: .25s, .25s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-timing-function:ease-in-out;

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}