<h1>My Reports</h1>

<div class="report_wrapper">
<% @reports.each_with_index do |rep, i| %>
	<div class="list_item">
		<div class="list_header">
			<%="#{rep.created_at.strftime("%r %B %d, %Y")}" %>
		</div>
		<div class="list_text">
			<%= link_to rep.property.street_address.titleize, report_path(rep) %>
		</div>
	</div>
		<hr>
<% end %>
</div>